<form [formGroup]="form" (ngSubmit)="toLogin()">
  <pre class="hidden">
    {{ form.value | json }}
  </pre>
  <div class="flex flex-col gap-2">
    <login-input
      [type]="'text'"
      [placeholder]="'Usuario'"
      [name]="'user'"
      formControlName="user"
      required
    ></login-input>
    <login-input
      [type]="'password'"
      [placeholder]="'Contraseña'"
      [name]="'password'"
      formControlName="password"
      required
    ></login-input>
    <login-button
      [text]="'Iniciar sesión'"
      [type]="'submit'"
      [disabled]="!form.valid"
    />
    <p *ngIf="error$ | async" class="text-red-600 text-xs font-light">
      Las credenciales son incorrectas
    </p>
  </div>
</form>
