<div class="w-full min-h-screen flex flex-row">
  <div
    class="w-3/5 bg-[url('/img/bg-login.png')] bg-cover bg-no-repeat flex items-center justify-center"
  >
    <div class="flex flex-col gap-2 w-[70%] max-w-[70%]">
      <h1 class="text-white text-3xl font-bold">TODO App!</h1>
      <p class="text-white text-lg font-light">
        En esta aplicación podrás gestionar tus tareas de una forma sencilla y
        rápida.
      </p>
    </div>
  </div>
  <div class="w-2/5 flex items-center justify-center">
    <div class="flex flex-col gap-2 w-[70%] max-w-[70%]">
      <div class="flex flex-col gap-1 pb-2">
        <h1 class="text-2xl font-bold">Iniciar sesión</h1>
        <h2 class="text-md font-light pb-4">Ingresa tus credenciales</h2>
      </div>
      <app-form-login></app-form-login>
      <div class="flex items-center justify-center">
        <a href="/" class="text-black text-xs text-center font-normal"
          >¿Olvidaste tu contraseña?</a
        >
      </div>
    </div>
  </div>
</div>
